@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --primary: "#gd3cabb"; /* Light beige */
        --accent: "#a39171"; /* Light brown */
        --cream: "#efe5da"; /* Cream like */
    }

    h1,
    h2,
    h3 {
        @apply font-acme leading-5 tracking-wide;
    }

    /* a {
        @apply hover:text-orange-400;
    } */

    nav a {
        @apply font-acme;
    }
}

@layer components {
    .auth .my-indicator {
        @apply hidden;
    }

    .auth .htmx-request .my-indicator,
    .auth .htmx-request.my-indicator {
        @apply inline;
    }
}
