@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Acme";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(/fonts/Acme-regular.ttf) format("ttf");
    }

    :root {
        --color-primary: 38deg 21% 78%; /* Light beige */
        --color-accent: 38deg 21% 54%; /* Light brown */
        --color-cream: 31deg 40% 90%; /* Cream like */
    }

    h1,
    h2,
    h3 {
        @apply font-acme leading-5 tracking-wide;
    }

    /* a {
        @apply hover:text-orange-400;
    } */

    nav a {
        @apply font-acme;
    }
}

@layer components {
    .auth .my-indicator {
        @apply hidden;
    }

    .auth .htmx-request .my-indicator,
    .auth .htmx-request.my-indicator {
        @apply inline;
    }
}
