package librarian

templ Books() {
	<div class="flex flex-col">
		<h1 class="text-2xl text-primary">Book list</h1>
		<div class="flex">
			<ul class="flex flex-col gap-4">
				<li>book1</li>
				<li>book2</li>
				<li>book3</li>
				<li>book4</li>
			</ul>
		</div>
	</div>
}
