package librarian

templ Patrons() {
	<div class="flex flex-col">
		<h1 class="text-2xl text-primary">Patrons list</h1>
		<div class="flex">
			<ul class="flex flex-col gap-4">
				<li>patron1</li>
				<li>patron2</li>
				<li>patron3</li>
				<li>patron4</li>
			</ul>
		</div>
	</div>
}
